*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}
ul,
li,
textarea {
  list-style-type: none;
  font-family: $secondary-font;
}
p,
a,
label.option {
  font-family: $secondary-font;
  text-decoration: none;
}

@media (min-width: 14rem) {
  .container {
    max-width: 125rem;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

//react-slick
.sliderCustomDot {
  margin: auto;
  padding-top: 2rem;
  text-align: center;

  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;

    button {
      border: none;
      background: #d6d6d6;
      color: transparent;
      cursor: pointer;
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      outline: 0;
      &:hover {
        background: #ababab;
      }
      &:focus {
        background: $color-primary;
      }
    }
  }
  li.slick-active button {
    background-color: $color-primary;
  }
}
.slick-next {
  right: 0px !important;
}

.slick-prev {
  left: 0px !important;
}
