

/* footer-section */
footer{
    padding-top: 10rem;
    padding-bottom:4rem;   
  
    .container-fluid{
        position: relative;

        .footer-img {
            position: absolute;
            top: -51%;
            width: 94%;
            z-index: -2;
        }

        .social_media{
            padding-top:5rem;
            padding-bottom: 2.5rem;

            a {
                padding: 0 1rem;
            }
            
        }
        .copyright h4 {
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 1.6rem;
            color: $color-black;
            opacity: 0.8;
        }
    }

   
  
}




