@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.formGroup {
  width: 100%;
  & select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 13px;
  }
}

.customSelectbx {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 4px $shadowGrey;
  color: #bcbcbc;
  font-size: 14px;
  padding: 0 15px;
  box-shadow: none;
  min-height: 4.1rem;
  background-color: #fff;
  border: 1px solid #ececec;
  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #7cbc39;
    outline: 0;
    box-shadow: none;
  }
}

.field {
  label {
    margin-bottom: 1rem;
    display: block;
    font-size: 1.6rem;

    &.required:after {
      content: "*";
      color: $red;
      margin-left: 0.3rem;
    }
  }
  & + .field {
    margin-top: 2rem;
  }
}

.custom-input {
  border: 1px solid $darkGrey;
  box-shadow: 1px 2px 4px $shadowGrey;
  padding: 1rem;
  font-size: 16px;
  border-radius: 0.8rem;
  height: 4.5rem;
  transition: 0.3s;
  font-family: $font;
  outline: 0;
  width: 100%;
  min-width: 12rem;
  background-color: white;
  &::placeholder {
    color: rgba($color: $lightTextColor, $alpha: 0.7);
  }

  &[readonly] {
    pointer-events: none;
    background-color: $darkGrey;
    border: 0;
  }

  &:focus {
    border-color: $primaryColor;
  }
}

select.custom-input {
  appearance: none;
  background: white url("/images/select-arrow.svg") no-repeat right 1rem center;
  background-size: 1.2rem;
  padding-right: 2.5rem;
}
