// COLORS
$color-primary: #7cbc39;
$color-secondary-light: #fe5717;

$color-tertiary-dark: #5643fa;

$color-bg-primary: linear-gradient(0deg, #f9f9f9 0%, #dff8ff 101.95%);

$color-orange-light: #fff5f1;
$color-green-light: #f2ffe4;
$color-red-light: #fff5f1;
$color-drak-greay: #4d4d4d;
$color-drak-greay-1: #323232;
$color-drak-greay-2: #d9d9d9;

$color-white: #fff;
$color-black: #000;
$red: #c62727;

$primary-font: "Sunset-Serial";
$secondary-font: "Circe";
$transition: all 0.3s;

//site color
$primaryColor: #fe5d1f;
$secondaryColor: #7dbd3b;
$lightTextColor: #929292;
$red: #c62727;
$orange: #80c627;
$darkBlue: #3e4d59;

//site font
$textColor: #112433;
$lightTextColor: #666666;
$lightBgGrey: #f6f6f6;
$darkGrey: #dbdbdb;
$shadowGrey: #ececec;

$font: "Sunset-Serial", sans-serif;

// common class
.bg-color-yellow-light {
  background-color: #fefaed;
}
.bg-color-green-light {
  background-color: #f3ffe3;
}

// GRID
